/* App.css or Card.css */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: rgba(82, 18, 230, 0.795); /* Optional: set a background color */
  flex-grow: 1;
  border-radius: 8px;
  width: 100%;
  padding: 10%;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  background-image:url(https://media.istockphoto.com/id/1300444386/photo/the-white-house-in-washington-dc.jpg?s=612x612&w=0&k=20&c=CEipbiIfsLyGNriyJrTTWj8LttUoh6hwrCD0ArP0OSk=);
background-size: cover;

background-position: center;
}


.card-container{
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0px;
  width: 1400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #3be42c;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  
  



}

/* App.css */


/* Adjust card size on laptop screens */
@media (min-width: 769px) {
  .card {
    width: 300px; /* Fixed width for cards */
  }
}

